/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 30 jun. 2022, 15:09:36
    Author     : Daniel
*/

i, a{
    color: black !important;
}

#accordionSidebar
{
    background-color: #F5D0A9 !important;
}
.text-primary{
    color: black !important;

}

#fecha {
    display: block;
    width: 98%;
    margin: auto;
}
#fecha input{
    width: 100%;
}

.ui-message-error{
    margin-bottom: 1rem;
}
